<!DOCTYPE html>
<html>
<head>
    <title>SMACSS Card</title>
</head>
<body>
    <header class="header">
        <h1 class="header__title">SMACSS Card</h1>
    </header>

    <main class="main-content">
      <div class="card">
        <img class="card__image" src="https://i.pinimg.com/564x/1e/6b/9d/1e6b9d1267618373d2f149e07f30df2d.jpg">
        <h2 class="card__title">Taylor Swift</h2>
        <p class="card__description">
          Taylor Alison Swift is an American singer-songwriter. Known for her autobiographical songwriting, artistic reinventions, and cultural impact, Swift is a leading figure in popular music and the subject of widespread public interest.
        </p>
        <a class="btn btn--primary">Read More</a>
      </div>

      <div class="card">
        <img class="card__image" src="https://i.pinimg.com/564x/8b/d4/0c/8bd40c0c3eaf3278f0738a76880c8b64.jpg">
        <h2 class="card__title">Selena Gomez</h2>
        <p class="card__description">
          Selena Marie Gomez is an American singer, actress, producer, and businesswoman. She began her career as a child actress, starring on the children's television series Barney & Friends, and rose to prominence as a teen idol, leading as Alex Russo on the Disney Channel sitcom Wizards of Waverly Place.
        </p>
        <a class="btn btn--secondary">Learn More</a>
      </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 SMACSS Card</p>
    </footer>
</body>
</html>
