<!DOCTYPE html>
<html>
<head>
    <title>OOCSS Webpage</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <img class="card__image" src="https://i.pinimg.com/736x/4e/4e/d4/4e4ed41904223714cdb1265fb44fd144.jpg">
      <h2 class="card__title">Exo</h2>
      <p class="card__description">
        Exo (Korean: 엑소; RR: Ekso; stylized in all caps) is a South Korean-Chinese boy band based in Seoul formed by SM Entertainment in 2011 and debuted in 2012. The group consists of nine members: Xiumin, Suho, Lay, Baekhyun, Chen, Chanyeol, D.O., Kai and Sehun.
      </p>
      <a class="btn btn--primary">Read More</a>
    </div>

    <div class="card">
      <img class="card__image" src="https://i.pinimg.com/564x/e9/df/1e/e9df1e01c43f46677d015aa012f3c879.jpg">
      <h2 class="card__title">Stray Kids</h2>
      <p class="card__description">
        Stray Kids (Korean: 스트레이 키즈; RR: Seuteurei Kijeu; often abbreviated to SKZ) is a South Korean boy band that JYP Entertainment formed through the eponymous 2017 reality television show. The band has eight members: Bang Chan, Lee Know, Changbin, Hyunjin, Han, Felix, Seungmin, and I.N.
      </p>
      <a class="btn btn--secondary">Learn More</a>
    </div>
  </div>
</body>
</html>
