<!DOCTYPE html>
<html lang="en">
<head>
    <title>BEM Card</title>
</head>
<body>
    <div class="card">
        <img class="card__image" src="https://i.pinimg.com/736x/39/5a/b0/395ab0678fec102f05f67ac1d344559e.jpg">
        <h2 class="card__title">Seventeen</h2>
        <p class="card__description">
          Seventeen (Korean: 세븐틴; RR: Sebeuntin; stylized in all caps or as SVT) is a South Korean boy band formed by Pledis Entertainment. The group consists of thirteen members: S.Coups, Jeonghan, Joshua, Jun, Hoshi, Wonwoo, Woozi, DK, Mingyu, The8, Seungkwan, Vernon, and Dino. Seventeen has won a large audience since its debut and has grown into an internationally recognized K-pop group with signature music and performances.
        </p>
        <button class="card__button">Learn More</button>
    </div>
</body>
</html>
